[submodule "elisp/magit"]
	path = elisp/magit
	url = https://github.com/magit/magit.git
[submodule "elisp/git-modes"]
	path = elisp/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "elisp/undo-tree"]
	path = elisp/undo-tree
	url = https://gitlab.com/tsc25/undo-tree.git
[submodule "elisp/git-link"]
	path = elisp/git-link
	url = https://github.com/sshaw/git-link.git
[submodule "elisp/comment-dwim-2"]
	path = elisp/comment-dwim-2
	url = https://github.com/remyferre/comment-dwim-2.git
[submodule "elisp/elscreen"]
	path = elisp/elscreen
	url = https://github.com/shosti/elscreen.git
[submodule "elisp/yaml-mode"]
	path = elisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "elisp/salt-mode"]
	path = elisp/salt-mode
	url = https://github.com/glynnforrest/salt-mode.git
[submodule "elisp/mmm-mode"]
	path = elisp/mmm-mode
	url = https://github.com/purcell/mmm-mode.git
[submodule "elisp/mmm-jinja2"]
	path = elisp/mmm-jinja2
	url = https://github.com/glynnforrest/mmm-jinja2.git
[submodule "elisp/markdown-mode"]
	path = elisp/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "elisp/dash.el-git"]
	path = elisp/dash.el-git
	url = https://github.com/magnars/dash.el.git
[submodule "elisp/wrap-region.el-git"]
	path = elisp/wrap-region.el-git
	url = https://github.com/rejeep/wrap-region.el.git
[submodule "elisp/git-gutter-plus"]
	path = elisp/git-gutter-plus
	url = https://github.com/nonsequitur/git-gutter-plus
